@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #C1440E;
    --background-color: #FFF7F0;
    --text-color: #3B2F2F;
    --nav-bg: #4B2E2E;
    --highlight-color: #D6A77A;
    --discount-color: #CC6600;
}

