.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #F8F9FA;
}

.wrapperInfo {
    display: flex;
}

.wrapperLeft {
    display: flex;
    flex-direction: column;
}

.headerActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}


/* Логін */
.login {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #212529;
    transition: color 0.3s ease;
}

.login svg {
    font-size: 24px;
    margin-bottom: 5px;
    color: #212529;
    transition: color 0.3s ease;
}

.login:hover,
.login:hover svg {
    color: #007bff;
}

.goods {
    display: flex;
    gap: 30px;
    align-items: center;
}

.goods svg {
    font-size: 24px;
    color: #212529;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.goods svg:hover {
    transform: scale(1.1);
    color: #007bff;
}

.address, .contacts, .schedule {
    display: grid;
    padding: 10px;
}

.logoDiv {
    background-color: #212529;
    color: #F8F9FA;
    width: 100%;
    text-align: center;
    transition: transform 0.2s ease-in;
}
.logoDiv:hover{
    transform: translateX(5px);
    cursor: pointer;
}

h3 {
    color: white;
    padding: 5px 25px;
}

.contacts span, .address span, .schedule span {
    color: #212529;
}


.headerMainList {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding:10px;
}

.headerMainList ul {
    display: flex;
    justify-content: flex-start;
    padding:0;
}

.headerMainList li {
    color: black;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.headerMainList li:hover {
    color: #FF6B6B;
    text-decoration: none;
}

.headerSearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    background: #E9ECEF;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.headerSearchBar:focus-within {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.headerSearchBar input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.searchButton {
    border: none;
    border-left: #0a0a0a solid 1px;
    cursor: pointer;
    padding: 10px 15px;
    background: transparent;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.searchButton:hover {
    background: #007BFF;
    color: white;
    border-left: #0056b3 solid 1px;
}
