.containerCat {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.containerCat h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.containerCat ul {
    list-style: none;
    padding: 0;
}

.containerCat li {
    background: #f8f8f8;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
