.headerTop {
    background-color: #343A40;
    padding: 10px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.headerTopList {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    margin: 0;
}

.headerTopList li {
    font-size: 14px;
    color: #F8F9FA;
    cursor: pointer;
    transition: color 0.3s ease;
}

.headerTopList li:hover {
    color: #007BFF;
    text-decoration: none;
}
