.overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hover-region {
    fill: transparent;
    stroke: transparent;
    stroke-width: 2;
    pointer-events: all;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.hover-region:hover {
    fill: rgba(0, 123, 255, 0.3);
    border-radius: 10px;
    cursor: pointer;
}


