.info-container {
    position: relative;
    display: inline-block;
}

.info-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    color: var(--nav-bg);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.info-div{
    display: flex;
    justify-content: space-between;
}

.info-button:hover {
    transform: translateX(5px);
;
    background-color: var(--hover-navbtn-color);
}

.info-button span {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    padding-right: 5px;
}

.info-button svg {
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
}

.info-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    animation: dropdown-fade 0.3s ease-in-out;
}


.info-dropdown li, .info-dropdown a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    transition: background 0.2s ease;
    padding: 0 10px;
}



.info-item:hover {
    background-color: var(--highlight-color);
}

#wrapper-info-dropdown{
    text-align: center;
}

@keyframes dropdown-fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .info-container {
        width: 100%;
    }

    .info-button {
        width: 100%;
        text-align: center;
        border-radius: 0;
        justify-content: end;
    }
}

@media (max-width: 480px) {
    .info-dropdown li, .info-dropdown a {
        padding: 10px 0;
        margin: 0 10px;
    }
    .info-dropdown li:last-child {
        border:none;
    }

}

